<!-- templates/login_logout/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>You are logged in as {{ user.username }}</p>
    <p><a href="{% url 'course_selection_home' %}">Go to Course Selection</a></p>
    <a href="{% url 'registered_courses' %}">View Registered Courses</a>
    <p><a href="{% url 'logout' %}">Logout</a></p>
</body>
</html>
